<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_admin %>
      <p>
        Hello <%= current_admin.login %> |
        <%= link_to "Sign out", "/logout", method: :delete %>
      </p>
    <% else %>
      <%= link_to "Sign in", "/login" %>
    <% end %>

    <p style="color: green">
      <%= notice %>
    </p>

    <p style="color: red">
      <%= alert %>
    </p>

    <%= yield %>
  </body>
</html>
